CC := /mnt/Murcia/Internship/llvm-project/build/bin/clang
TOOLCHAIN := --sysroot=/mnt/Murcia/Internship/riscv-rss-sdk-stripped-v2/toolchain/sysroot --gcc-toolchain=/mnt/Murcia/Internship/riscv-rss-sdk-stripped-v2/toolchain --target=riscv64-unknown-linux-gnu -fuse-ld=lld 
CLANG_OPTIONS := -save-stats=cwd -Wl,-mllvm,--riscv-load-exclusive-hint-branch-prob -Wl,-mllvm,--riscv-load-exclusive-hint-greedy -Wl,-mllvm,--riscv-load-exclusive-hint -Wl,-mllvm,--riscv-load-exclusive-hint-block-level-alias -Wl,-mllvm,-stats -mllvm -stats -mllvm --riscv-load-exclusive-hint -mllvm --riscv-load-exclusive-hint-block-level-alias
CFLAGS := $(TOOLCHAIN) -D_GNU_SOURCE -flto=full -O2 -D_XOPEN_SOURCE=500 -D_POSIX_C_SOURCE=200112 -static -std=c11 -g -fno-strict-aliasing -fprofile-instr-use=code.profdata $(CLANG_OPTIONS)
LDFLAGS := -lm -latomic -pthread
AR := /mnt/Murcia/Internship/riscv/bin/riscv64-unknown-linux-gnu-ar

BASEDIR := $(shell dirname $(realpath $(lastword $(MAKEFILE_LIST))))
MACROS := $(BASEDIR)/pthread.m4
M4 := m4 
M4FLAGS := -Ulen -Uindex -P

M4FLAGS += -D ATOMIC_BARRIERS
CFLAGS += -D ATOMIC_BARRIERS

ifndef BASEDIR
$(error Please define the BASEDIR variable)
endif

x = *
	
$(TARGET): $(OBJS) $(EXTRADEPS)
	$(CC) $(CFLAGS) -o $(TARGET) $(OBJS) $(LDFLAGS)

	
bindCores: M4FLAGS += -D BIND_CORES
bindCores: CFLAGS += -D BIND_CORES
bindCores: CFLAGS += -D_GNU_SOURCE
bindCores: TARGET := $(TARGET)-bindedCores
bindCores: $(TARGET)

bindThreads: M4FLAGS += -D BIND_THREADS
bindThreads: CFLAGS += -D BIND_THREADS
bindThreads: CFLAGS += -D_GNU_SOURCE
bindThreads: TARGET := $(TARGET)-bindedThreads
bindThreads: $(TARGET)
	
debug: $(OBJS) $(EXTRADEPS)
	$(CC) $(CFLAGS) -g -o $(TARGET) $(OBJS) $(LDFLAGS)
	
clean:
	rm -rf *.c *.h *.o $(TARGET)*

semiclean:
	rm -rf *.c *.h *.o
	
%.h: %.h.in
	$(M4) $(M4FLAGS) $(MACROS) $< > $@

%.c: %.c.in
	$(M4) $(M4FLAGS) $(MACROS) $< > $@

%.o: %.c $(EXTRADEPS)
	$(CC) -c $(CFLAGS) $<	

